@font-face {
  font-family: inter tight;
  src: url(../../public/fonts/InterTight-VariableFont_wght.woff2);
}
html,
body {
  font-size: 14px;
  font-weight: 400;
  font-family:  inter tight, sans-serif;
  font-display: swap;
}

@media (min-width: 750px) {
  html,
  body {
    font-size: 0.94vw;
  }
}
@media (min-width: 1440px) {
  html,
  body {
    font-size:1vw;
  }
}
@media (min-width: 2500px) {
  html,
  body {
    font-size:18px;
  }
}